<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Malik foundations</title>
</head>

<body>
    <div class="header">
        <a href="#default" class="logo">Malik foundations</a>
        <div class="header-right">
            <a class="active" href="#home">Home</a>
            <a href="contact.html" target="_blank">Contact</a>
            <a href="#about">About</a>
        </div>
    </div>

    <div class="container">
        <img src="bg.jpg" alt="" style="width:100%;">
        <div class="centered">“The country where education is valued not as a formality but as a pride of the country is
            never poor.”
            <a href="http://localhost:5500/payments" target='_self'>
                <button class="neon-button">Donate now</button>
            </a>

        </div>
    </div>


</body>

</html>